@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather+Sans:wght@600&family=Raleway&display=swap');

body {
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

form {
    display: inline-block;
    width: 80%;
}

textarea {
    width: 80%;
}

#commentsSection {
    padding: 15px;
}

#generalReturn {
    padding: 15px;
}

#involvedList {
    background-color: white;
    border-style: solid;
    padding: 15px;
}

#enteredHolds {
    background-color: white;
    border-style: solid;
    padding: 15px;
    width: 100%;
}

#basicInfo {
    padding: 15px;
}

#involvedPeopleGroup {
    padding: 15px;
}

#expandedTextArea {
    padding: 15px;
}

#holdsSection {
    padding: 15px;
    display: flex;
}

#holdInput {
    padding: 10px;
    text-align: left;
}

#boolQuestions {
    display: inline-block;
    padding: 15px;
    width: 80%;
    text-align: left;

}

.container {
    display: flex;
    flex-direction: column;
}

#submit {
    font-weight: bold;
    width: 20em;
    height: 2em;
}

.approvalButtons {
    padding: 10px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#multipleList {
    display: flex;
    flex-direction: column;
}

input:invalid {
    background-color: #C10042;
}

.fieldError {
    border-color: #C10042;
    background-color: #f7bbcd;

}

@media screen and (min-width: 1000px){

    .container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    #multipleList {
        flex-direction: row;
        justify-content: space-evenly;
    }

    input, label {
        display: block;
    }
}